In [0]:
import numpy as np

In [0]:
arr1=np.arange(20).reshape(4,5)
arr1

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [0]:
# Q1 Write a numpy code to swap col1([0,5,10,15]) with col4([3,8,13,18])
# Hint----> Fancy Indexing

In [0]:
arr1[:,[0, 3]] = arr1[:,[3, 0]]

In [0]:
arr1

array([[ 3,  1,  2,  0,  4],
       [ 8,  6,  7,  5,  9],
       [13, 11, 12, 10, 14],
       [18, 16, 17, 15, 19]])

In [0]:
# Q2 Write a numpy code to reverse the rows of arr1
# The output should be [15, 16, 17, 18, 19] as first row and [ 0,  1,  2,  3,  4] as last row

In [0]:
# initialising arr1 again
arr1=np.arange(20).reshape(4,5)
arr1

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [0]:
arr1=np.flip(arr1,0)

In [0]:
arr1

array([[15, 16, 17, 18, 19],
       [10, 11, 12, 13, 14],
       [ 5,  6,  7,  8,  9],
       [ 0,  1,  2,  3,  4]])

In [0]:
arr2=np.array([[1,2,np.nan],[4,5,6],[np.nan,np.nan,9]])
arr2

array([[ 1.,  2., nan],
       [ 4.,  5.,  6.],
       [nan, nan,  9.]])

In [0]:
# Q3 Write a code to replace all the nan(missing values) of arr2 with the mean of arr2

In [0]:
# consideriing nan values to be zero
# size of array is calculated excluding nan values
arr2=np.where(np.isnan(arr2),np.nanmean(arr2),arr2)

In [0]:
arr2

array([[1. , 2. , 4.5],
       [4. , 5. , 6. ],
       [4.5, 4.5, 9. ]])

In [0]:
# initialising arr2 again
arr2=np.array([[1,2,np.nan],[4,5,6],[np.nan,np.nan,9]])
arr2

array([[ 1.,  2., nan],
       [ 4.,  5.,  6.],
       [nan, nan,  9.]])

In [0]:
# consideriing nan values to be zero
# size of array is calculated including the nan values
arr2=np.where(np.isnan(arr2),np.mean(np.nan_to_num(arr2)),arr2)

In [0]:
arr2

array([[1., 2., 3.],
       [4., 5., 6.],
       [3., 3., 9.]])

In [0]:
arr3=np.random.randint(low=1,high=100,size=20).reshape(5,4)
arr3

array([[34, 35, 88, 27],
       [60, 24,  8, 50],
       [ 8, 54,  6, 39],
       [68, 13,  7, 17],
       [17, 32, 98, 74]])

In [0]:
# Q4 Write a code which can fetch all items from arr3 which are either greater than 25 or a multiple of 3

In [0]:
arr3[(arr3>25) | (arr3%3==0)]

array([34, 35, 88, 27, 60, 24, 50, 54,  6, 39, 68, 32, 98, 74])

In [0]:
# Q5 Write a code to find the 10th, 25th, 50th(median) percentile of arr3
# Percentiles are a very important concept in Statistics. If you don't know about it refer the video below
# https://www.youtube.com/watch?v=Snf6Wpn-L4c
# Hint: to solve this function google np.percentile()

In [0]:
np.percentile(arr3,10)

27.300000000000004

In [0]:
np.percentile(arr3,25)

42.25

In [0]:
np.percentile(arr3,50)

59.5